<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="TBC UI automation" parallel="false">
    <test name="Desktop Suite" parallel="classes" thread-count="2">
        <parameter name="device" value="desktop"/>
        <packages>
            <package name="ge.tbc.testautomation.tests"/>
        </packages>
    </test>
    <test name="Mobile Suite" parallel="classes" thread-count="4">
        <parameter name="device" value="mobile"/>
        <packages>
            <package name="ge.tbc.testautomation.tests"/>
        </packages>
    </test>
</suite>
